<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Estudiante" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administracion Escolar</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("institucion")">
            <i class="fas fa-fw fa-table"></i>
            <span>Institucion</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("docentes")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Docentes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("matricula")">
            <i class="fas fa-fw fa-table"></i>
            <span>Matricula</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("secciones")">
            <i class="fas fa-fw fa-table"></i>
            <span>Secciones</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("grados")">
            <i class="fas fa-fw fa-table"></i>
            <span>Grados</span>
        </a>
    </li>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("anios")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Años escolares</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("asignaturas")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Asignaturas</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("estudiantes")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Estudiantes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("notas")">
            <i class="fas fa-fw fa-table"></i>
            <span>Notas</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("inasistencias")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inasistencias</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Cuenta" asp-action="Logout">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Cerrrar Sesion</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="d-none d-md-inline text-center">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->